extends ../layouts/base
block content
  main.competition
    section
      .container
        h1 Лідери змінюють світ — 2020
        include ../components/leaders
        h2( class="section__title" style="color:#a18b54") Переможці — 2020
        
        div(class="steps__ui-blocks-wrapper")
          div.blocksInnerWrapper
            div
              div(class="steps__ui-block waiting")
                span І місце
              div.winnerPhotoText
                p Марія ВІЦЕНТОВИЧ, сестра медична з масажу КНП «Тернопільська обласна дитяча клінічна лікарня» Тернопільської обласної ради
                a(class="btn") Читати статтю переможницi
            div
              img(src="./images/lidery/vicent.png" alt="vicent.png").winner-img
          div.winnerTextInfo
            p 
              b Марія Віцентович 
              | розповіла, що спонукало її обрати реабілітацію дітей своїм напрямом роботи та постійно шукати нові підходи до роботи. Коли ми запитали Марію, де вона знаходить натхнення для роботи, вона відповіла: 
              i «Мене надихає кінцевий результат реабілітації і, звичайно, невтомна боротьба батьків за щасливе і здорове майбутнє своєї дитини». 
              | Керуючись такою метою, медична сестра ініціювала численні зміни в роботі свого закладу і продовжує впроваджувати їх щодня. На своєму прикладі Марія показує, що значить бути справжнім лідером — не лише оптимістом, а й реалістом, який втілює впевненість і проявляє повагу до кожного.

        
        div(class="steps__ui-blocks-wrapper")
          div.blocksInnerWrapper
            div
              div(class="steps__ui-block waiting")
                span II місце
              div.winnerPhotoText
                p Олена ТІМАХОВА, сестра медична КП «Нікопольська міська лікарня № 1» Нікопольської міської ради Дніпропетровської області
                a(class="btn" target="_blank" href="https://emedsestra.mcfr.ua/860762?utm_source=best.medsprava.com.ua&utm_medium=refer&utm_campaign=pro_konkurs_%20lidery&utm_term=Konkurs_2020") Читати статтю переможницi
            div
              img(src="./images/lidery/timahova.jpg" alt="timahova.jpg").winner-img
          div.winnerTextInfo
            p 
              b Олена Тімахова
              | зізналася, що вирішила взяти участь, щоб розповісти про свої досягнення і надихнути молодих спеціалістів на нові звершення. Безумовно, їй є про що розповісти, адже Олена не лише досягла успіхів у кар’єрі, а й не опустила руки, коли через війну була змушена переїхати до іншого міста та почати життя заново. Вона довела, що не потрібно боятися труднощів у роботі. Молодим спеціалістам, які тільки починають свою роботу в ЗОЗ, вона радить:
              i «Більше навчатися, зростати професійно, прагнути до нових висот, досягати їх, бути людяними, доброзичливими, чуйними. Йти тільки вперед і ніколи не зупинятися!».

     
        
        div(class="steps__ui-blocks-wrapper")
          div.blocksInnerWrapper
            div
              div(class="steps__ui-block waiting")
                span ІІІ місце
              div.winnerPhotoText
                p Олена ТУЧА, сестра медична КНП «Обласний медичний центр психічного здоров’я» Житомирської обласної ради
                a(class="btn" target="_blank" href="https://emedsestra.mcfr.ua/860772?utm_source=best.medsprava.com.ua&utm_medium=refer&utm_campaign=pro_konkurs_%20lidery&utm_term=Konkurs_2020") Читати статтю переможницi
            div
              img(src="./images/lidery/tucha.png" alt="tucha.jpg").winner-img
          div.winnerTextInfo
            p 
              b Олена Туча
              |  має понад 50 років стажу роботи. Свій вагомий досвід вона майстерно поєднує із новими методиками і творчими підходами у психіатрії. Одним із таких підходів медсестра поділилась у своєму есе. Олена впровадила в лікарні арт-терапію як складову комплексного немедикаментозного лікування і реабілітації осіб із психічними розладами. У роботі їй найбільше подобається дружня атмосфера, розуміння і взаємодопомога колег, зокрема головної медичної сестри Євгенії Милашевської:
              i «Поряд зі мною працюють талановиті, відданні своїй справі люди. Це добрі, вірні і надійні друзі, які допомагають мені в роботі з пацієнтами, і замінити їх неможливо».

     
     
      include ../components/ceremony
      br
      br
      br
      br