extends ../layouts/base
block content
  main 
    section
      .container
        h1.section__title Положення про Всеукраїнський конкурс Міністерства охорони здоров’я України серед медичних сестер та медичних братів «Лідери змінюють світ
        .section__info
          h3 1. Загальні положення
          p 1.1. Всеукраїнський конкурс Міністерства охорони здоров’я України серед медичних сестер та медичних братів «Лідери змінюють світ» (далі — Конкурс) організовують Державна установа «Центр розвитку медсестринства Міністерства охорони здоров’я України» (далі — Центр розвитку медсестринства МОЗ України) та фаховий журнал 
            a(href="https://emedsestra.mcfr.ua/" target="_blank") «Довідник головної медичної сестри» .
          p 1.2. Конкурс присвячений підвищенню престижності медсестринської професії в суспільстві та виявленню нових лідерів медсестринства.
          p 1.3. Тема конкурсу — лідерство у медсестринстві.
          p 1.4. Мета Конкурсу — виявити дієві способи, що допоможуть поліпшити умови роботи медичних працівників та якість сестринської допомоги в закладах охорони здоров’я, а також спонукатимуть медичних сестер та медичних братів проявляти лідерські якості на своєму робочому місці.
          p 1.5. Завдання Конкурсу:
            ul 
              li підтримати талановитих медичних сестер та медичних братів, сприяти їх самореалізації;
              li поширити перспективний досвід та популяризувати інноваційні підходи до організації роботи фахівців з медсестринства;
              li сприяти підвищенню професійної майстерності молодших спеціалістів, молодших бакалаврів, бакалаврів, магістрів за спеціальністю «Медсестринство» галузі знань «Охорона здоров’я».
          h3 2. Учасники та конкурсні роботи
          p 2.1. Брати участь у Конкурсі мають право всі медичні сестри та медичні брати з рівнем освіти молодший спеціаліст, молодший бакалавр, бакалавр, магістр, PhD за спеціальністю «Медсестринство» галузі знань «Охорона здоров’я» та стажем роботи не менше двох років, які на момент подачі заявки на участь у конкурсі працюють у закладах охорони здоров’я України будь-яких форм власності та підпорядкування.
          p 2.2. Учасники подають конкурсну роботу — короткий опис свого професійного досягнення у довільній формі в онлайн-форматі на сайті Конкурсу 
            b best.medsprava.com.ua.
          p 2.3. Заявка на участь у Конкурсі підтверджує, що учасник погоджується з умовами його проведення та на обробку персональних даних.
          p 2.4. Під час оформлення конкурсної роботи учасники мають дотримуватись таких вимог:
            ul 
              li подавати роботи, що відповідають темі конкурсу — лідерство;
              li логічно, грамотно, коректно викладати інформацію;
              li текст набирати українською мовою;
              li обсяг роботи — до п’яти сторінок.
          p 2.5. В конкурсній роботі учасники описують:
            ul 
              li що спонукало впровадити зміни в роботу медичного закладу, персоналу (наприклад, велика завантаженість медичного персоналу, незадоволеність пацієнтів якістю медичних послуг, високий показник післяопераційних ускладнень тощо);
              li які ресурси використали для реалізації задуму (наприклад, закупили нове обладнання, розробили локальний документ, знайшли оригінальне рішення тощо);
              li протягом якого часу відбувались описувані події;
              li що саме зробили для вирішення ситуації та хто брав у цьому участь;
              li яких результатів вдалося досягти та чи відповідають вони очікуванням;
              li який висновок зробили для себе та як планують поліпшувати роботу персоналу надалі.
          p 2.6. До конкурсної роботи можна прикріпити фото, ілюстрації, рисунки, відео, презентації, таблиці, схеми, графіки, локальні документи, санітарні бюлетені тощо у таких форматах: jpeg, word, pdf, pptx, png, winrar, winzip, mp4. Потрібно ретельно перевірити дані у таблицях, схемах, графіках тощо.
          p 2.7. До участі в Конкурсі приймаються роботи, які відповідають темі Конкурсу, не були опубліковані раніше у фахових виданнях, інтернеті тощо та не подавалися на інші конкурси.
          p 2.8. До участі в Конкурсі не приймаються роботи, які не відповідають нормам етики або порушують законодавство України.
          p 2.9. Усі авторські права на конкурсні роботи належать організаторам. Організатори мають право розповсюджувати їх та друкувати у засобах масової інформації.
          p 2.10. Відповідальність за дотримання авторського права несе автор конкурсної роботи згідно із законодавством України.
          p 2.11. Організатори Конкурсу мають право дискваліфікувати учасника Конкурсу у разі зазначення ним недостовірних даних в анкеті або конкурсній роботі.
          h3 3. Порядок проведення та визначення переможців
          p 3.1. Конкурс проходить у два етапи.
          p 3.2. Заявки на участь у Конкурсі та конкурсні роботи приймаються з… до 1 вересня 2021 року на сайті 
            b best.medsprava.com.ua.
          p 3.3. Перший етап Конкурсу проводиться на обласному рівні. Журі першого етапу Конкурсу затверджується наказом керівників структурних підрозділів з питань охорони здоров’я обласних, Київської міської державних адміністрацій.
          p 3.4. Журі обласного рівня проводить регіональні засідання, на яких у кожній області обирають до 10 учасників Конкурсу з найкращими роботами, про що складається протокол засідання. Голова журі з кожної області надсилає протокол засідання всеукраїнському журі.
          p 3.5. Журі обласного рівня оцінює роботи учасників відповідно до розділу 4 Положення.
          p 3.6. Другий етап Конкурсу проводиться серед учасників, відібраних на обласному рівні. До складу всеукраїнського журі входять представники Центру розвитку медсестринства МОЗ України, редакції журналу «Довідник головної медичної сестри», експерти в галузі охорони здоров’я. Журі Конкурсу затверджує директор Центру розвитку медсестринства МОЗ України.
          p 3.7. Всеукраїнське журі переглядає конкурсні роботи і визначає трьох переможців, а також лауреатів Конкурсу, про що буде оголошено листом Центру розвитку медсестринства МОЗ України та на сайтах організаторів Конкурсу.
          p 3.8. Нагородження переможців та лауреатів відбудеться на урочистому заході в межах виставки Public Health, що проходитиме 6—8 жовтня 2021 року в м. Київ.
          p 3.9. Найліпші конкурсні роботи будуть опубліковані в журналі 
            a(href="https://emedsestra.mcfr.ua/" target="_blank") «Довідник головної медичної сестри».
          p 3.10. Переможці Конкурсу отримають від журналу «Довідник головної медичної сестри» грошові премії: перше місце — 20 000 грн, друге місце — 15 000 грн, третє місце — 10 000 грн (до вирахування податків).
          p 3.11. Організатори Конкурсу мають право доповнювати перелік номінацій, вручати учасникам Конкурсу додаткові подарунки, а також залучати до співпраці партнерів Конкурсу та благодійні організації.
          p 3.12. У межах конкурсу оголошується номінація «Наставник року» для головних та старших медичних сестер на кращий досвід з організації навчання персоналу, опис професійного досягнення у цьому напрямі роботи. Переможець номінації отримає можливість пройти онлайн-навчання за програмою підвищення кваліфікації у 
            a(href="https://school.medsestra.com.ua/" target="_blank") Вищій школі головної медсестри 
            | від Цифрового видавництва MCFR.
          h3 4. Критерії оцінювання конкурсних робіт
          p 4.1. Журі конкурсу оцінює роботи учасників, завантажені на сайті 
            b best.medsprava.com.ua.
          p 4.2. Журі оцінює конкурсні роботи за критеріями:
            ul 
              li відповідність вимогам розділу 2 Положення;
              li новизна й оригінальність конкурсної роботи;
              li практична значущість роботи, можливість впровадити її в інших закладах охорони здоров’я;
              li логічність та послідовність викладення інформації.
          p 4.3. За кожним із зазначеним у пункті 4.2 Положення критеріїв оцінювання конкурсних робіт журі виставляє бали від 1 до 10, де 1 бал — найнижчий рівень, 10 балів — найвищий рівень. Максимальна кількість балів за роботу — 40 балів.
          p 4.4. Усі рішення з питань, що не регламентує це Положення, журі ухвалює в робочому порядку, враховуючи інтереси учасників Конкурсу.
          br
          br
          br
          br
          br
          br







