.leaders {
  margin: 40px 0 80px;

  p {
    font-size: 16px;
  }

  img {
    max-width: 280px;
    float: right;
  }

  .leader-info {
    text-align: right;
    margin-top: 30px
  }

  @media screen and (max-width: 768px) {
    text-align: left;

    img {
      float: initial;
      margin: 20px auto;
    }


    .leader-info {
      // text-align: center !important;
    }
  }
}