script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
script(src='https://best.medsprava.com.ua/assets/template/js/jquery-filestyle.min.js')
script(src='https://best.medsprava.com.ua/assets/template/js/main.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
//- script(src='./js/jquery-filestyle.min.js')
//- script(src='./js/main.js?rev=@@hash')