section.allProjects
	sections.steps
		.container
			.steps__ui-blocks-wrapper
				.steps__ui-block.active
					span Всі проекти
	.container
		table.table
			thead
				tr
					th Назва проекту
					th Дата завантаження
					th Автор
					th Статус
			tbody
				tr
					td 
						a(href="./adminProject.html") Lorem ipsum dolor
					td
						span 24.01.2020 11:00
					td
						span Анна Поплавская
					td
						span в роботi
				tr
					td 
						a(href="./adminProject.html") Lorem ipsum dolor
					td
						span 24.01.2020 11:00
					td
						span Анна Поплавская
					td
						span в роботi
				tr
					td 
						a(href="./adminProject.html") Lorem ipsum dolor
					td
						span 24.01.2020 11:00
					td
						span Анна Поплавская
					td
						span в роботi