section.ceremony.section
	.container
		h2.section__title Церемонія нагородження
		.ceremony__video
			iframe(width='560', height='315', src='https://www.youtube.com/embed/gOIusx-9DHs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
		.d-flex.justify-content-center
			a(href="#" target="_blank").btn.ceremony__btn Скачати всі фото
		h2.section__title Фото з церемонії нагородження
		.ceremony__slider
			div.ceremony__slide
				.ceremony__slide-inner(style="background-image: url('https://best.medsprava.com.ua/assets/ceremony/03.jpg')")
			div.ceremony__slide
				.ceremony__slide-inner(style="background-image: url('https://best.medsprava.com.ua/assets/ceremony/05.jpg')")
			div.ceremony__slide
				.ceremony__slide-inner(style="background-image: url('https://best.medsprava.com.ua/assets/ceremony/07.jpg')")
			div.ceremony__slide
				.ceremony__slide-inner(style="background-image: url('https://best.medsprava.com.ua/assets/ceremony/09.jpg')")
			div.ceremony__slide
				.ceremony__slide-inner(style="background-image: url('https://best.medsprava.com.ua/assets/ceremony/01.jpg')")
			div.ceremony__slide
				.ceremony__slide-inner(style="background-image: url('https://best.medsprava.com.ua/assets/ceremony/02.jpg')")
			div.ceremony__slide
				.ceremony__slide-inner(style="background-image: url('https://best.medsprava.com.ua/assets/ceremony/04.jpg')")
			div.ceremony__slide
				.ceremony__slide-inner(style="background-image: url('https://best.medsprava.com.ua/assets/ceremony/06.jpg')")
			div.ceremony__slide
				.ceremony__slide-inner(style="background-image: url('https://best.medsprava.com.ua/assets/ceremony/08.jpg')")