section.concurs-steps#about
	.container
		h2.section__title І Всеукраїнський конкурс керівників закладів освіти «Директор 2020: краща практика»
		p.sub 
			a(href="./position.html", style="color: #00aaad") «Довідник головної медичної сестри» 
			| запрошує до участі керівників з медсестринства. Покажіть свій найкращий проєкт та здобудьте почесне звання Лідера медсестринства — 2020!
		.steps__ui-blocks-wrapper
			.steps__ui-block.active
				span Зареєструйтеся чи авторизуйтеся
			.steps__ui-block
				span 
						div Зареєстровані на порталі «Педрада» —
							a(href="https://id.mcfr.ua/Personal/About" target="_blank" style="color: #00aaad") введіть свій логін і пароль. 
							br
							| Якщо ні — 
							a(href="https://id.mcfr.ua/Personal/About" target="_blank" style="color: #00aaad") зареєструйтеся зараз
		.steps__ui-blocks-wrapper
			.steps__ui-block.waiting
				span Подайте заявку на участь у конкурс
			.steps__ui-block
				span Натисніть на кнопку «Беру участь» — і вперед до перемоги
		.steps__ui-blocks-wrapper
			.steps__ui-block.waiting
				span Додайте конкурсну роботу
			.steps__ui-block
				span Опишіть свій досвід роботи з питань забезпечення якості освітньої діяльності у вашому закладі
		.steps__ui-blocks-wrapper
			.steps__ui-block.waiting
				span Отримайте сертифікат
			.steps__ui-block
				span Після подання конкурсної роботи скачайте сертифікат учасника конкурсу
		.steps__ui-blocks-wrapper
			.steps__ui-block.waiting
				span Стежте за новинами конкурсу
			.steps__ui-block
				span Перебіг конкурсу — на порталі «Педрада», офіційному сайті Державної служби якості освіти України
		.steps__ui-blocks-wrapper
			.steps__ui-block.waiting
				span Візьміть участь у церемонії нагородження
			.steps__ui-block
				span Номінантів конкурсу запросять на топову подію освітянської спільноти
		.steps__ui-blocks-wrapper
			.steps__ui-block.waiting
				span Виграйте премію у 20 000 грн
			.steps__ui-block
				span Директори-переможці у категоріях «Дошкільна освіта» та «Загальна середня освіта» отримають грошові винагороди