header.header
	.container
		.row.align-items-center
			.col
				a(href="/").header__logo
					img(src='./images/logo.png' alt="MCFR logo")
			.col-9
				.d-flex.justify-content-end.align-items-center
					a(href="tel:0445865606").header__tel 0 44 586 56 06
					.id2-rx-user-informer-block
						a.support.support-icon(title='Поддержка', href='https://id2.action-media.ru/Feedback', target='_blank')
						.id2-rx-user-informer-button
							span.id2-rx-user-informer-icon
							span#id2-rx-user-buttontitle Цифровые Технологии
							span#id2-rx-user-buttontitlelong(style='display: none;') Цифровые Технологии
include ./menu.pug