section.jury.section
	.container
		h2.section__title Переможців визначить журі
		.jury__slider
			.jury__slide
				.jury__slide-inner
					.jury__user-image(style="background-image:url('./images/photo_gurak.jpg')")
					.jury__user-info
						h3 Руслан Гурак
						p Голова Державної служби якості освіти України

			.jury__slide
				.jury__slide-inner
					.jury__user-image(style="background-image:url('./images/photo_yakimenko.jpg')")
					.jury__user-info
						h3 Олександр Якименко
						p Перший заступник Голови Державної служби якості освіти України

			.jury__slide
				.jury__slide-inner
					.jury__user-image(style="background-image:url('./images/photo_bondar.jpg')")
					.jury__user-info
						h3 Алла Бондар
						p Заступник Голови Державної служби якості освіти України

			.jury__slide
				.jury__slide-inner
					.jury__user-image(style="background-image:url('./images/photo_bobur.jpg')")
					.jury__user-info
						h3 Валентина Бобир
						p Заступник Голови Державної служби якості освіти України

			.jury__slide
				.jury__slide-inner
					.jury__user-image(style="background-image:url('./images/photo_ilchenko.jpg')")
					.jury__user-info
						h3 Лариса Ільченко
						p Керівник напряму «MCFR Освіта»

			.jury__slide
				.jury__slide-inner
					.jury__user-image(style="background-image:url('./images/photo_omelyanenko.jpg')")
					.jury__user-info
						h3 Ніна Омельяненко
						p Шеф-редактор управлінських видань MCFR Освіта, очільник ВГО «Асоціація працівників дошкільної освіти»

			.jury__slide
				.jury__slide-inner
					.jury__user-image(style="background-image:url('./images/photo_tretyak.jpg')")
					.jury__user-info
						h3 Вікторія Третяк
						p Головний редактор журналів «Практика управління закладом освіти» та «Практика управління дошкільним закладом»
