section.leaders
	.container
		h2.section__title(style="color:#a18b54") ВСЕУКРАЇНСЬКИЙ КОНКУРС МОЗ УКРАЇНИ СЕРЕД МЕДИЧНИХ СЕСТЕР <br/> ТА МЕДИЧНИХ БРАТІВ «ЛІДЕРИ ЗМІНЮЮТЬ СВІТ»


		.row
			.col-md-8
				p(style="margin-top: 0") У жовтні 2020 року медична спільнота дізналася імена трьох медичних сестер, які перемогли у Всеукраїнському конкурсі МОЗ серед медичних сестер та медичних братів «Лідери змінюють світ». Познайомтеся з ними ближче і переконайтеся, чому саме їхні конкурсні роботи із понад 400 інших заслуговували найбільшої уваги.

				p.leader-info
					b Оксана ГРИЩЕНКО, <br />
					| головний редактор журналу «Довідник головної медичної сестри»
			.col-md-4
				img(src="./images/lidery/grischenko.jpg", alt="grischenko")
