.menu
	.container
		.row.align-items-center
			.col-8.col-sm-6
				nav.d-flex.align-items-center.menu__items.justify-content-start
					//- a(href="./#about").menu__item Про конкурс
					a(href="./").menu__item Положення
					a(href="./competition.html").menu__item Kонкурс
					//- a(href="./#jury").menu__item Журі
					//- a(href="./#partners").menu__item Партнери
			.col-4.col-sm-6
				.d-flex.align-items-center.justify-content-end
					p Кількість учасників:&nbsp
						b 5
					a(href="./get-part.html").menu__btnTakePart Беру участь