section.partners#partners
	.container
		h2.section__title Організатори і партнери
		.row.align-items-center.justify-content-center
			.col-md-2
				a(href="#" target="_blank")
					img(src="./images/acc.jpeg", alt="1_dgms", )
			.col-md-2
				a(href="" target="_blank")
					img(src="./images/jak.jpg", alt="0_med_s",)
			.col-md-2
				a(href="#")
					img(src="./images/pedrada.png", alt="pedrada")
			.col-md-3
				a(href="#")
					img(src="./images/pudz.png", alt="pudz")
			.col-md-3
				a(href="#")
					img(src="./images/puzo.png", alt="pudz")