h3 1. Загальні положення
p 1.1. Всеукраїнський конкурс Міністерства охорони здоров’я України серед медичних сестер та медичних братів «Лідери змінюють світ» (далі — Конкурс) організовують Державна установа «Центр розвитку медсестринства Міністерства охорони здоров’я України» (далі — Центр розвитку медсестринства МОЗ України) та фаховий журнал 
	a(href="https://emedsestra.mcfr.ua/" target="_blank") «Довідник головної медичної сестри» .

p 1.2. Конкурс присвячено питанню побудови внутрішньої системи забезпечення якості освіти в закладах дошкільної та загальної середньої освіти.

p 1.3. Мета Конкурсу — виявити кращі практики з питань забезпечення якості освітньої діяльності у закладі (далі — з питань забезпечення якості), дієві власні підходи закладів освіти до оцінювання якості освітньої діяльності та управлінських процесів, зокрема, власні політики і процедури забезпечення якості освітньої діяльності та якості освіти відповідно до специфіки діяльності свого закладу та з урахуванням змісту Закону України «Про освіту».

p 1.4. Завдання Конкурсу:
	ul
		li популяризувати кращі практики з питань забезпечення якості у закладі;
		li залучити директорів до участі в засіданнях робочих груп та розроблення проєктів нормативних документів Служби, до участі у проведенні інституційних аудитів.
br

h3 2. Учасники Конкурсу та конкурсні роботи
p 2.1. Учасниками Конкурсу є директори закладів дошкільної освіти, загальної середньої освіти різних типів та форм власності, які виявили бажання підвищити професійний рівень з питань забезпечення якості.

p 2.2. Учасники мають право консультуватися з працівниками Служби, брати участь у заходах, організованих MCFR та Службою, ініціювати проведення заходів на базі закладів освіти, у яких працюють.

p 2.3. Для участі в Конкурсі приймаються оригінальні авторські розробки з питань забезпечення якості у закладі, з описом практичної діяльності та підтвердженням показників результативності: «було—стало».

p 2.4. Конкурсна робота може висвітлювати 
	b як цілісну внутрішню систему 
	| забезпечення якості освітньої діяльності у закладі (освітнє середовище закладу освіти, система оцінювання здобувачів освіти, оцінювання педагогічної діяльності працівників, управлінські процеси закладу освіти), так і 
	b окремі її аспекти.

p 2.5. До розгляду приймаються роботи, які відповідають темі конкурсу та пройшли перевірку на академічну доброчесність, зокрема, які не публікували в інших виданнях і не викладали в інтернеті. Конкурсні роботи повинні відповідати загальновизнаним вимогам, нормам етики та законодавству України.

p 2.6. Відповідальність за дотримання авторського права несе автор конкурсної роботи згідно із законодавством України.

br


h3 3. Порядок проведення Конкурсу та визначення переможців

p 3.1. Конкурс проходить в один етап.

p 3.2. Заявки та конкурсні роботи приймаються з 1 квітня до 1 жовтня 2020 року.

p 3.3. Щоб оцінити роботи, організатори Конкурсу формують журі, до складу якого входять працівники Служби, редакції журналів «Практика управління дошкільним закладом» та «Практика управління закладом освіти», освітні експерти.

p 3.4. Журі розглядає конкурсні роботи й обирає переможців.

p 3.5. Журі оцінює конкурсні роботи за такими критеріями:
	ul
		li актуальність, новизна, оригінальність;
		li системність, практична значимість;
		li технологічна можливість упроваджувати в різних закладах загальної середньої та дошкільної освіти;
		li усвідомлення сутності підходів, на яких ґрунтується забезпечення системи якості;
		li культура оформлення конкурсної роботи: глибина розкриття теми; структурованість, логічність і технологічна грамотність матеріалів; простота викладу тощо.

p 3.6. Найліпші конкурсні роботи будуть опубліковані в журналах «Практика управління дошкільним закладом» та «Практика управління закладом освіти», в електронному посібнику для передплатників електронних версій цих журналів, а також в Абетці для директора — рекомендаціях до побудови внутрішньої системи забезпечення якості освіти у закладі освіти..

p 3.7. Переможці Конкурсу отримають грошові премії.

p 3.8. Організатори Конкурсу мають право засновувати номінації та вручати додаткові подарунки, залучати до співпраці партнерів Конкурсу, надавати партнерам і зацікавленим благодійним організаціям змогу вручати подарунки учасникам Конкурсу.
br
h3 4. Умови участі в Конкурсі
p 4.1. Для участі в Конкурсі учасники мають:
	ul
		li заповнити заявку на участь у Конкурсі на сайті Конкурсу — best.pedrada.com.ua;
		li завантажити матеріали конкурсної роботи в електронному вигляді на best.pedrada.com.ua.

p 4.2. Заявка на участь у Конкурсі підтверджує те, що учасник погоджується з умовами його проведення.

p 4.3. Під час оформлення конкурсної роботи слід керуватися правилами:
	ul
		li набирати матеріали в текстовому редакторі Word (міжрядковий інтервал 1; кегль 12);
		li виділяти смислові наголоси в тексті напівжирним шрифтом чи курсивом;
		li подавати таблиці з назвами та посиланнями на них у тексті, з ретельно вивіреними даними;
		li додавати до матеріалів ілюстрації: презентації, фото, рисунки, схеми тощо та зазначати посилання на кожну з ілюстрацій;
		li не розміщувати ілюстрації всередині тексту, а прикріплювати їх окремими файлами;
		li зберігати растрові зображення ілюстрацій у форматах TIFF чи JPG (роздільна здатність не менше 300 dpi), векторну графіку — у форматі EPS (версії 8.0).

p 4.4. Усі рішення з питань, що не зумовлені цим Положенням, журі ухвалює в робочому порядку, ураховуючи інтереси учасників Конкурсу.
br
br
br