sections.steps
	.container
		.steps__ui-blocks-wrapper
			.steps__ui-block(class=page==='questionnaire' ? 'active' : null)
				span Подати заявку на участь
			//- .steps__ui-block(class=page==='test' ? 'active' : null)
			//- 	span Розкажіть про себе
			.steps__ui-block(class=page==='project' ? 'active' : null)
				span Додати роботу
			.steps__ui-block(class=page==='certificate' ? 'active' : null)
				span Скачайте сертифікат
